/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: white;
  background: linear-gradient(-45deg, rgba(31, 30, 29, 0.8), rgba(104, 68, 14, 0.8)) fixed, image-url("haikei.jpg") fixed;
  
  background-size: cover;
}

li {
  list-style: none;
  color: white;
}


a {
  text-decoration: none;
  color:white;
}

p{
  color:white;
}
/* スライドショー */
.images{
  opacity:0.6;

}

.carousel-name{
  color:#fff;
}



/* 商品一覧 */

h1{
  color:#fff;
}

.mainer{
  margin-top: 100px;
  color: black;/*文字色*/
}
.item-contents {
  justify-content:space-around;
  display: flex;
  flex-wrap: wrap;
}

.item-all{
  color: #fff;/*文字色*/
  border: solid 2px #121213;/*線色*/
  height: 430px;
  margin:15px 0px;
  background-color: rgb(54, 48, 48);
}


.item-img {
  background-color: #FFF;
  width: 33vh;
  height: 33vh;
  
}

.item-info {
  width:33vh;
}

.item-title{
  display: flex;
  font-size: 20px;
}


/* //検索フォーム */

.search-form{
  text-align: center;
}
.search-input{
  height: 35px;
}


/* //アイコン */

.img-responsive {
  display: block;
  height:33vh;
  width: 33vh;
  margin: 0 auto;
}

.main_text{
  font-size:23px;
  color: #FFF;
}

.container{
  margin-top: 3rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* 詳細ページ */

.book__hedding {
  color:#fff;
}
.main {
  background-color: rgb(54, 48, 48);
}



.detail__title{
  color: #FFF;
  font-size: 25px;
}

.detail__message {
  color: #FFF;
}



