/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}


a {
  text-decoration: none;
  color: #3b4043;
}


/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  justify-content:space-around;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.item-img-content{
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}
.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  width:33vh;
}

.item-title{
  display: flex;
}

.img-responsive {
  display: block;
  height:33vh;
  width: 33vh;
  margin: 0 auto;
}

/* //検索フォーム */

.search-form{
  text-align: center;
}


/* //ログイン */

.main_text{
  font-size:23px;
}

.container{
  margin-top: 3rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}