.rakutenwado{
  color: #fff;
}

.rakuten-form{
  text-align: center;
}

.search-rakuten{
  width:300px;
}

.rakutentitle{
  text-align: center;
  color: rgb(243, 8, 8);
  font-size: 40px;
  margin-bottom: 30px;
  margin-top:10px;
}

.rakutengazo{
  width:15vh;
  border: solid 1px #121213;/*線色*/
}

.rakutenprice{
  width:15vh;
  color: #fff;
  margin-right: 20px;
}

.rakutenname{
  color: #fff;
  border-bottom: solid 1px #fff;/*線色*/
}